a {
    text-decoration: none;
}
.wrapper .topbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9001;
    height: 64px;
    width: 100%;
    background-color: #ff0000;
    background-image: url("../img/topbar.jpg");
    background-size: 100% 100%;
}

.wrapper .topbar .logo-container {
    height: 100%;
    color: #ffffff;
    padding-top: 12px;
    padding-left: 12px;
    width: 200px;
    float: left;
}

.wrapper .topbar .logo-container img {
    max-height: 100%;
}

.wrapper .topbar .logo-container span {
    font-weight: bold;
    font-size: 18px;
    margin-left: 12px;
}

.wrapper .topbar .topbar-content {
    float: left;
    text-align: center;
    width: calc(100% - 200px);
}

.wrapper .sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    top: 64px;
    z-index: 9001;
    background-color: #dddddd;
}

.menu-content {
    display: block;
    height: 100%;
    position: relative;
    overflow: scroll;
    overflow-x: hidden;
}

.menu-content .menu-content-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-bottom: 120px;
}

.menu-content-list li {
    border-bottom: solid 1px #eeeeee;
}

.menu-content-list li a {
    padding: 12px;
    font-weight: 600;
    display: block;
}

.menu-content-list li a i {
    margin-right: 8px;
    font-size: 20px;
}

.wrapper .main {
    margin-left: 200px;
    padding-top: 64px;
}

.wrapper .main .routeBar {
    background-color: #151515;
    color: #eaeaea;
    border-bottom: 2px solid #2f2f2f ;
}

.wrapper .main .routeBar .routeBreadcrumb {
    padding: 14px;
}

body {
    background-color: #0a0a0a;
    background-image: url("../img/alpha.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom; /*Positioning*/
}

.wrapper .main .content {
    padding: 24px 16px;
    color: #a0a0a0;
}

.wrapper .main .content .waifuFriendly {
    margin-right: 200px;
}

.content table, th, td {
    border: 1px solid lightgrey;
}