# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

.mvn
application.properties

# Damn you, copyright
/src/main/resources/META-INF/resources/img/
/src/main/resources/META-INF/resources/img/alpha.png
/src/main/resources/META-INF/resources/img/azusa_logo.svg
/src/main/resources/META-INF/resources/img/topbar.jpg
