{#include template}
    {#title}Empty Page!{/title}
    {#content}
        <div class="waifuFriendly">
            <p>
                Hibridas sunt nixuss de noster mons.
                Mori recte ducunt ad bi-color habena.
                Barcass sunt domuss de germanus luna.
                Lotus, magnum burguss rare desiderium de raptus, pius poeta.
            </p>
            <p>
                Domesticus, velox abnobas aliquando transferre de barbatus, clemens nutrix.
            </p>
            <p>
                Rumors sunt tabess de fidelis castor. Hercle, rector camerarius!
                Cannabis volares, tanquam festus caesium.
                Contencios experimentum, tanquam pius sectam.
                Abactors unda, tanquam fatalis zeta. Ubi est dexter clinias?
                Cur contencio volare? Mineraliss assimilant!
                Sunt magisteres magicae bi-color, azureus humani generises.
            </p>
        </div>
    {/content}
{/include}