{#include template}
    {#title}HDD-Statusübersicht{/title}
    {#header}
    {/header}
    {#content}

        <div class="waifuFriendly">

            <div>
                Gesamtzustand:
                <div class="w3-light-grey">
                    <div class="w3-container w3-{healthColor} w3-center" style="width:{health}%">{health}%</div>
                </div>
                <br/>
            </div>

            <table>
                <tr>
                    <td>Modell</td>
                    <td>Kapazität</td>
                    <td>WWN</td>
                    <td>Reallocated</td>
                    <td>Current Pending</td>
                    <td>Offline Uncorrectable</td>
                </tr>
                {#for disk in disks}
                    <tr style="color: {disk.color}">
                        <td>{disk.model}</td>
                        <td>{disk.capacity} GB</td>
                        <td>{disk.wwn}</td>
                        <td>{disk.reallocatedSectorCt}</td>
                        <td>{disk.currentPendingSector}</td>
                        <td>{disk.offlineUncorrectable}</td>
                    </tr>
                {/for}
            </table>
        </div>
    {/content}
{/include}